In [1]:
import sqlite3


conn = sqlite3.connect(r"/mnt/c/Users/conta/Downloads/Saklia/sqlite-sakila.db")

In [2]:
from langchain_community.utilities import SQLDatabase

In [4]:
db = SQLDatabase.from_uri("sqlite:////mnt/c/Users/conta/Downloads/Saklia/sqlite-sakila.db")

In [6]:
print(db.dialect)
print(db.get_usable_table_names())

sqlite
['actor', 'address', 'category', 'city', 'country', 'customer', 'film', 'film_actor', 'film_category', 'film_text', 'inventory', 'language', 'payment', 'rental', 'staff', 'store']

In [7]:
db.run("SELECT * FROM country LIMIT 10;")

"[(1, 'Afghanistan', '2021-03-06 15:51:49'), (2, 'Algeria', '2021-03-06 15:51:49'), (3, 'American Samoa', '2021-03-06 15:51:49'), (4, 'Angola', '2021-03-06 15:51:49'), (5, 'Anguilla', '2021-03-06 15:51:49'), (6, 'Argentina', '2021-03-06 15:51:49'), (7, 'Armenia', '2021-03-06 15:51:49'), (8, 'Australia', '2021-03-06 15:51:49'), (9, 'Austria', '2021-03-06 15:51:49'), (10, 'Azerbaijan', '2021-03-06 15:51:49')]"

In [8]:
from dotenv import load_dotenv
load_dotenv()

True

In [9]:
import os

os.environ["TAVILY_API_KEY"]

'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'

In [11]:
import getpass
import os

if not os.environ.get("OPENAI_API_KEY"):
  os.environ["OPENAI_API_KEY"] = getpass.getpass("Enter API key for OpenAI: ")

from langchain.chat_models import init_chat_model
llm = init_chat_model("gpt-3.5", model_provider="openai")

In [12]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

tools = toolkit.get_tools()

tools

[QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7f0fcb97f3e0>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7f0fcb97f3e0>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7f0fcb97f3e0>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x7f0fcb97f3e0>, llm=ChatOpenAI(client=<openai.resources.chat.completions.completions.Completions object at 0x7f0fc91e3c20>, async_client=<openai.resources.chat.completions.completions.AsyncCompletions object at 0x7f0fc9006300>, root_client=<openai.OpenAI object at 0x7f0fcb7d5370>, root_async_client=<openai.AsyncOpenAI object at 0x7f0fc91e3c80>, model_name='gpt-3.5', model_kwargs={}, openai_api_key=SecretStr('**********')), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatOpenAI(client=<openai.resources.chat.completions.completions.Completions object at 0x7f0fc91e3c20>, async_client=<openai.resources.chat.completions.completions.AsyncCompletions object at 0x7f0fc9006300>, root_client=<openai.OpenAI object at 0x7f0fcb7d5370>, root_async_client=<openai.AsyncOpenAI object at 0x7f0fc91e3c80>, model_name='gpt-3.5', model_kwargs={}, openai_api_key=SecretStr('**********')), output_parser=StrOutputParser(), llm_kwargs={}))]

In [2]:
from text2sql.agent.states import UserState

ModuleNotFoundError: No module named 'text2sql'